/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    --box-height: 20px;
    --box-width: 20px;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
}
button{
    height: 22px;
    width: 100px;
    align-self: center;
}
.title{
    text-align: center;
    width: 1400px;
    font-size: 1.5em;
}
#body-box{
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    justify-content: center;
    width: 1400px;
}
#player1, #player2{
    text-align: center;
    width: 200px;
    height: 100px;
    border: 1px black solid;
    margin: 10px;
}
.small-title{
    font-size: 0.6em;
    margin-left: 200px;
}
#chess-broad{
    border: 1px black solid;
    display: grid;
    grid-template-columns: repeat(auto-fit,var(--box-height));
    grid-template-rows: repeat(auto-fit,var(--box-width));
    align-self: center;
    height: 900px;
    width: 900px;
}
#chess-broad > div{
    position: relative;
    border: 1px rgba(167, 162, 162, 0.5) solid;
    text-align: center;
}
#chess-broad > div >img {
    position: absolute;
    right: -2px;
    top: -2px;
    height: calc(var(--box-height) + 2px);
    width: calc(var(--box-width)+ 2px);
}
.X{
    color: rgb(74, 74, 177);
}
.O{
    color: rgb(211, 94, 94);
}
.win{
    background-color: rgb(253, 213, 79);
}
#player-info-box{
    display: flex;
    align-self: center;
    flex-direction: column;
    gap: 10px;
    height: 118px;
    width: 300px;
    border: black 1px solid;
    border-radius: 5px;
    text-align: center;
}
.hide {
    opacity: 0%;
}
input:invalid{
    background: #FF3300;
}
.wait{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 100%;
    height:95%;
    background-color: rgba(31, 30, 30, 0.5);
    z-index: 1;
}
